force-app/main/default/flows/Accept_All_Recommendations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>1185</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TeamAssignmentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSize</name>
        <label>assignSize</label>
        <locationX>765</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>CountOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Saved_Recommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_TA_Record</name>
        <label>Create TA Record</label>
        <locationX>781</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>TARecord.Hired_Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recommendations.Hired_Candidate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TARecord.Scrum_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recommendations.Scrum_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TARecord.Involvement_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_recommendations.Involvement_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count</name>
        <label>Count</label>
        <locationX>1201</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>noRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LE0</defaultConnectorLabel>
        <rules>
            <name>GT0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm</targetReference>
            </connector>
            <label>GT0</label>
        </rules>
    </decisions>
    <interviewLabel>Accept All Recommendations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept All Recommendations</label>
    <loops>
        <name>Loop_recommendations</name>
        <label>Loop recommendations</label>
        <locationX>448</locationX>
        <locationY>775</locationY>
        <collectionReference>Get_All_Saved_Recommendations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_TA_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SaveAllRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveAllRecords</name>
        <label>SaveAllRecords</label>
        <locationX>227</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>Delete_All_Recommendations</targetReference>
        </connector>
        <inputReference>TeamAssignmentRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Recommendations</name>
        <label>Delete All Recommendations</label>
        <locationX>515</locationX>
        <locationY>1018</locationY>
        <connector>
            <targetReference>scren2</targetReference>
        </connector>
        <inputReference>Get_All_Saved_Recommendations</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Saved_Recommendations</name>
        <label>Get All Saved Recommendations</label>
        <locationX>1770</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scrum_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team</name>
        <label>Get Team</label>
        <locationX>678</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Saved_Recommendations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scrum_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm</name>
        <label>Confirm Screen</label>
        <locationX>638</locationX>
        <locationY>590</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_recommendations</targetReference>
        </connector>
        <fields>
            <name>Confirm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display</name>
                    <fieldText>&lt;p&gt;Do you want to accept all  {!CountOfRecords} recommendations ?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noRec</name>
        <label>noRec</label>
        <locationX>1336</locationX>
        <locationY>724</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noRec_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>noRec_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disp</name>
                    <fieldText>&lt;p&gt;Sorry, there are no recommendations found to accept.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scren2</name>
        <label>scren2</label>
        <locationX>692</locationX>
        <locationY>1065</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scren2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scren2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>success</name>
                    <fieldText>&lt;p&gt;Your recommendations are successfully accepted. Thank you.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1130</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Team_Assignment__c</objectType>
    </variables>
    <variables>
        <name>TeamAssignmentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Team_Assignment__c</objectType>
    </variables>
</Flow>
