force-app/main/default/flows/Accept_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Accept Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Recommendation_record</name>
        <label>Get Recommendation record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recommendation_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Save_Record</name>
        <label>Save Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>Simple_Screen_Flow</flowName>
        <inputAssignments>
            <name>HiredCandidateId</name>
            <value>
                <elementReference>Get_Recommendation_record.Hired_Candidate__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InvolvementPercent</name>
            <value>
                <elementReference>Get_Recommendation_record.Involvement_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Level</name>
            <value>
                <elementReference>Get_Recommendation_record.Employee_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScrumTeamId</name>
            <value>
                <elementReference>Get_Recommendation_record.Scrum_Team__r.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
