force-app/main/default/flows/Simple_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>DeleteDecision</name>
        <label>DeleteDecision</label>
        <locationX>661</locationX>
        <locationY>715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reco_to_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Obsolete_Recommendations</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Allocation_is_100</name>
        <label>If Allocation is 100%</label>
        <locationX>1439</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_Allocated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvolvementPercent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocation_status_to_Partial</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Simple Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirm and Allocate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AssignTeam</name>
        <label>AssignTeam</label>
        <locationX>1612</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>If_Allocation_is_100</targetReference>
        </connector>
        <inputAssignments>
            <field>Hired_Candidate__c</field>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involvement_Percent__c</field>
            <value>
                <elementReference>InvolvementPercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scrum_Team__c</field>
            <value>
                <elementReference>ScrumTeamId</elementReference>
            </value>
        </inputAssignments>
        <object>Team_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Obsolete_Recommendations</name>
        <label>Delete Obsolete Recommendations</label>
        <locationX>532</locationX>
        <locationY>979</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hired_Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scrum_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScrumTeamId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Involvement_Percent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvolvementPercent</elementReference>
            </value>
        </filters>
        <object>Recommendation</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Reco_to_Delete</name>
        <label>Get Reco to Delete</label>
        <locationX>853</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hired_Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scrum_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScrumTeamId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Involvement_Percent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvolvementPercent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHiredCandidate</name>
        <label>GetHiredCandidate</label>
        <locationX>1125</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hired_Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTeam</name>
        <label>GetTeam</label>
        <locationX>1125</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScrumTeamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scrum_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allocation_status_to_Partial</name>
        <label>Allocation status to Partial</label>
        <locationX>1249</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>Get_Reco_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_Status__c</field>
            <value>
                <stringValue>Partially Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>Hired_Candidate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Allocated</name>
        <label>Update Status to Allocated</label>
        <locationX>1053</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>Get_Reco_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiredCandidateId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_Status__c</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>Hired_Candidate__c</object>
    </recordUpdates>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>1213</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignTeam</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Do you want to assign &lt;b&gt;{!GetHiredCandidate.Employee_Name__c} &lt;/b&gt;as&lt;b&gt; {!Level}  &lt;/b&gt;for&lt;b&gt; {!InvolvementPercent}% &lt;/b&gt;to team&lt;b&gt; &quot;{!GetTeam.Name}&quot; &lt;/b&gt;?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>999</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetHiredCandidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HiredCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvolvementPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScrumTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
